 <div class="container">
    <div class="jumbotron" style="margin-top:30px;">
        <h1 class="display-4">Welcome to Sealcode Messenger</h1>
        <p class="lead">Sealcode Messenger is a simple chat app written using MEAN Stack</p>
        <hr class="my-4">
        <p>It has been written for Sealcode workshops</p>
        <a style="margin-right:10px;" class="btn btn-primary btn-lg" routerLink='/register' role="button">Register</a>
        <a class="btn btn-success btn-lg" routerLink='/login' role="button">Log In</a>
    </div>
</div>   