<h1 style="overflow: scroll;" class="display-4">{{ username }}'s Dashboard</h1>
<div class="wrapper row">
    <div class="roomName">Room: <span class="text-primary">{{ room }}</span></div>
    <div class="messages col-12 col-md-8 border-0 bg-light">
    <ul>
        <li *ngFor="let message of fetchedMessages.reverse()" class="message bg-white">
            <div class="rounded-circle userAvatar {{ message.senderAvatarColor }}"><i class="{{ message.senderAvatar }}"></i></div>
            <span class="text-muted">{{ message.from }}:</span> &nbsp;
            <span>{{ message.content }}</span>
        </li>
    </ul>
    <form #form="ngForm" (ngSubmit)="send()" class="form-group bar">
            <input class="form-control" [(ngModel)]="currentMessage" type="text" name="input" id="input" autocomplete="off">
            <button class="btn btn-primary" type="submit"><i class="fab fa-telegram-plane"></i></button>
    </form>
    </div>
    <ul class="rooms bg-dark text-white col-12 col-md-4">
        <div class="room-bar">
                    <label for="room">Create a new room</label>
                    <input [(ngModel)]="newRoomName" type="text" name="room" class="form-control" id="room" autocomplete="off">
                    <i (click)="addRoom()" class="fas fa-plus-square text-success"></i>
        </div>
        <li (click)="changeRoom(room)" *ngFor="let room of rooms" class="roomPreview border">
            <div class="roomPicture">
                <i [ngClass]="{'fa fa-globe': room === 'global', 'fas fa-at': room !== 'global'}" class="fas fa-globe"></i>
            </div>
            <div class="roomPreviewText">
                <span class="roomPreviewName">{{ room }}</span>
            </div>
        </li>
    </ul>
</div>