<div *ngIf="show" class="container border bg-light">
    <h2 style="text-align: center;">Change Password</h2>
    <div class="form-group">
    <label for="currentPassword">Current Password</label>
    <input [(ngModel)]="oldPassword" name="oldPassword" type="password" class="form-control" id="currentPassword">
    <label for="newPassword">New Password</label>
    <input [(ngModel)]="newPassword" name="newPassword" type="password" class="form-control" id="newPassword">
    <button (click)="update()" style="margin-top: 1rem;" class="btn btn-success">Update</button>
    </div>
  </div>